body{
    background-color:aqua
}

a{
    text-decoration: none;
}

.user-img{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
.obj{
      
}
.container{
    background-image: url(https://thumbs.dreamstime.com/b/stylish-office-young-designer-table-open-laptop-cash-fashionable-glasses-top-view-modern-businessman-entrepreneur-56149743.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
